@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

.upload{
    max-width: 100px;
    /* height: 100px; */
}

.img-view-profile{
    width: 120;
    height: 120;
}

trix-toolbar [data-trix-button-group="file-tools"]{
    display: none;
}

/* start */
.stars {
    display: inline-block;
    align-items: center;
    gap: 25px;
}

.stars i {
    color: #c2c2c2;
    font-size: 27px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}

.nav-item .nav-link .badge-numb {
    position: relative;
    inset: -5px -2px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

#imagePreview .edit .badge-edit{
    position: relative;
    inset: 5px 2px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
    /* z-index: 9; */
}

.avatar-upload {
    position: relative;
  }

.avatar-upload .avatar-edit {
    position: absolute;
    right: -2px;
    z-index: 1;
    top: -4px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #d9d9d9;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}